body{
font-family: Arial;
background: linear-gradient(90deg,#2193b0,#6a11cb);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.main{
text-align:center;
color:white;
}

.calculator{
background:#2c2c3c;
padding:25px;
border-radius:10px;
width:300px;
margin-top:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

#display{
width:100%;
height:50px;
font-size:20px;
margin-bottom:15px;
text-align:right;
padding:10px;
border:none;
border-radius:6px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
padding:15px;
font-size:18px;
border:none;
border-radius:6px;
cursor:pointer;
background:#3e3e55;
color:white;
transition:0.2s;
}

button:hover{
background:#5a5aff;
}

.zero{
grid-column:span 2;
}
